<div class="header">
    <div style="width: 40px;"></div>
    <a class="header-title-parent" href="/index.html">
        <div class="header-logo"></div>
        <div class="header-title">
            <h1 class="header-title-text">احسان</h1>
            <h2 class="header-subtitle-text">یک عدد برنامه نویس!</h2>
        </div>
    </a>
    <div class="header-splitter"></div>
    <div class="header-buttons">
        <a class="header-button">
            <img width="22" height="25" src="/assets/img/ImageHome.svg" style="margin:9px 7px 7px 0px;" />
            <p class="header-button-text">خانه</p>
        </a>
        <a class="header-button">
            <img width="22" height="25" src="/assets/img/ImageList.svg" style="margin:9px 7px 7px 0px;" />
            <p class="header-button-text">دسته بندی مطالب</p>
        </a>
        <a class="header-button">
            <img width="21" height="25" src="/assets/img/ImageDonate.svg" style="margin:9px 7px 7px 0px;" />
            <p class="header-button-text">حمایت مالی</p>
        </a>
        <a class="header-button">
            <img width="21" height="25" src="/assets/img/ImageInformation.svg" style="margin:9px 7px 7px 0px;" />
            <p class="header-button-text">درباره ی من</p>
        </a>
    </div>
    <div class="header-search">
        <input class="search-input" type="text" dir="auto" placeholder="جستجو..."></input>
        <a class="button-circle ripple" style="width: 10px; height:10px; margin-top: 17px; margin-left: 0px;">
            <img src="/assets/img/ImageSearch.svg" width="20px" height="25px" style="margin: -7px -5px 0px 0px;"/>
        </a>
    </div>
    <div class="header-more">
        <a class="header-button" style="margin-left: 0px;">
            <img width="22" height="25" src="/assets/img/ImageHome.svg" style="margin:9px 7px 7px 0px;" />
            <p class="more-button-text">بیشتر</p>
        </a>
    </div>
    <div style="width: 40px;"></div>
</div>