<div class="topbar-bottombar">
    <div class="sidebar-title">
        <div class="sidebar-title">
            <img src="/assets/img/ImageSummary.svg" width="27px" height="50px" style="margin-left: 7px;"/>
            <h4 class="sidebar-title-text">من کی هستم؟</h4>
        </div>
    </div>
    <div class="topbar-bottombar-content">
        <div class="topbar-bottombar-summary-me-image"></div>
        <p class="topbar-bottombar-content-text">
            احسان محمدی! کارشناسی ارشد رشته‎ی مهندسی نرم‎افزار. علاقه‎م به کامپیوتر رو اون روزی فهمیدم که برای اولین بار پای سیستم یکی از آشناهامون نشستم؛ محو مانیتورش شدم و وقتی به خودم اومدم دیدم دارن صدام میزنن که: «احسان! پاشو بریم خونه!» و من تمام ذهنم رفته بود دنبال این موجود عجیب و غریب...<br/>از اون زمان ۱۴ سال میگذره و توی تمام این مدت چیزهایی رو تجربه کردم که دوست دارم اینجا با شما به اشتراک بذارم؛ و مطمئناً علاوه بر اینا سعی کنیم کنار هم چیزهای جدیدتری هم یاد بگیریم :)
        </p>
    </div>
</div>
<div class="topbar-bottombar">
    <div class="sidebar-title">
        <div class="sidebar-title">
            <img src="/assets/img/ImageContact.svg" width="25px" height="50px" style="margin-left: 7px;"/>
            <h4 class="sidebar-title-text">راه های ارتباطی دیگه</h4>
        </div>
    </div>
    <div class="topbar-bottombar-content">
        <p class="topbar-bottombar-content-text" style="display: block; text-align: center; width: auto; margin: 20px 0px 20px 0px;">
            خوشحال میشم از طریق راه‎های زیر هم باهم ارتباط داشته باشیم:
        </p>
    </div>
    <div class="sidebar-flex">
        <a class="button-circle ripple" href="mailto:mohammadi.ehsan1994@gmail.com">
            <img src="/assets/img/ImageEmail.svg" width="22px" height="22px"/>
        </a>
        <a class="button-circle ripple" href="https://github.com/ehsan-mohammadi" target="_blank">
            <img src="/assets/img/ImageGithub.svg" width="28px" height="28px" style="margin: -2px -3px 0px 0px;"/>
        </a>
        <a class="button-circle ripple" href="https://linkedin.com/in/ehsan-mohammadi" target="_blank">
            <img src="/assets/img/ImageLinkedin.svg" width="23px" height="23px" style="margin: -1px 0px 0px 0px;"/>
        </a>
        <a class="button-circle ripple" href="https://twitter.com/EhsanMhdi" target="_blank">
            <img src="/assets/img/ImageTwitter.svg" width="23px" height="23px"/>
        </a>
        <a class="button-circle ripple" href="https://t.me/Ehsan_Mohammadi" target="_blank">
            <img src="/assets/img/ImageTelegram.svg" width="25px" height="25px" style="margin: -1px 0px 0px -4px;"/>
        </a>
    </div>
</div>