<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }} - {{page.title}}</title>
        <link rel="icon" href="/assets/img/IconEhsanLogo.ico" type="image/ico" />
        <link href="/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            {% include topbar.html %}
            <div class="content">
                {% if page.page-type == "index" %}
                    {% for post in site.posts %}
                        {% include content.html
                            url = post.url
                            category = post.category
                            title-image = post.title-image
                            title = post.title
                            subtitle = post.subtitle
                            content = post.content
                            post-date = post.post-date
                            tags = post.tags
                        %}
                    {% endfor %}
                {% elsif page.page-type == "category" %}
                    {% for post in site.posts %}
                        {% if post.category == page.category %}
                            {% include content.html
                                url = post.url
                                category = post.category
                                title-image = post.title-image
                                title = post.title
                                subtitle = post.subtitle
                                content = post.content
                                post-date = post.post-date
                                tags = post.tags
                            %}
                        {% endif %}
                    {% endfor %}
                {% elsif page.page-type == "post" %}
                    {% include content.html
                        url = page.url
                        category = page.category
                        title-image = page.title-image
                        title = page.title
                        subtitle = page.subtitle
                        content = page.content
                        post-date = page.post-date
                        tags = page.tags
                    %}
                {% endif %}
            </div>
            {% include sidebar.html %}
            {% include bottombar.html %}
        </div>
        <div style="width: 100%; height: 500px;"></div>
        {% include header.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/assets/js/sticky-sidebar.js"></script>
        <script src="/assets/js/ResizeSensor.js"></script>
        <script type="text/javascript">
            var stickySidebar = new StickySidebar('#sidebar', {
                topSpacing: 80,
                bottomSpacing: 20,
                containerSelector: '.main',
                innerWrapperSelector: '.sidebar-inner'
            });

            window.onload = function () {
                const btnMore = document.getElementById("btnMore");
                const divMoreMenu = document.getElementById("divMoreMenu");

                if($(window).resize(function () {
                    stickySidebar.destroy();
                    window.scrollTo({top: 0, behavior: 'auto'});

                    stickySidebar = new StickySidebar('#sidebar', {
                        topSpacing: 80,
                        bottomSpacing: 20,
                        containerSelector: '.main',
                        innerWrapperSelector: '.sidebar-inner'
                    });
                }));

                btnMore.addEventListener("click", toggleMoreMenu);
                $(document).mousedown(function (e) {
                    var moreMenuContainer = $(divMoreMenu);
                    if (moreMenuContainer.css("opacity") == 1 && !moreMenuContainer.is(e.target) && moreMenuContainer.has(e.target).length === 0) {
                        toggleMoreMenu();
                    }
                });

                function toggleMoreMenu() {
                    var opacity = $(divMoreMenu).css('opacity');

                    if (opacity == 0)
                        $(divMoreMenu).animate({ opacity: '1', top: '70px' });
                    else if (opacity == 1)
                        $(divMoreMenu).animate({ opacity: '0', top: '-265px' });
                }
            }
        </script>
    </body>
</html>