<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ site.title }} - {{page.title}}</title>
        <link rel="icon" href="/assets/img/IconEhsanLogo.ico" type="image/ico" />
        <link href="/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            {% include topbar.html %}
            <div class="content">
                {% if page.page-type == "index" %}
                    {% for post in site.posts %}
                        {% include content.html
                            url = post.url
                            category = post.category
                            title-image = post.title-image
                            title = post.title
                            subtitle = post.subtitle
                            content = post.content
                            post-date = post.post-date
                            tags = post.tags
                        %}
                    {% endfor %}
                {% elsif page.page-type == "post" %}
                    {% include content.html
                        url = page.url
                        category = page.category
                        title-image = page.title-image
                        title = page.title
                        subtitle = page.subtitle
                        content = page.content
                        post-date = page.post-date
                        tags = page.tags
                    %}
                {% elsif page.page-type == "category" %}
                    {% for post in site.posts %}
                        {% if post.category == page.category %}
                            {% include content.html
                                url = post.url
                                category = post.category
                                title-image = post.title-image
                                title = post.title
                                subtitle = post.subtitle
                                content = post.content
                                post-date = post.post-date
                                tags = post.tags
                            %}
                        {% endif %}
                    {% endfor %}
                {% elsif page.page-type == "tag" %}
                    {% for post in site.posts %}
                        {% include content.html
                            url = post.url
                            category = post.category
                            title-image = post.title-image
                            title = post.title
                            subtitle = post.subtitle
                            content = post.content
                            post-date = post.post-date
                            tags = post.tags
                            post-type = page.page-type
                        %}
                    {% endfor %}

                    <script src="/assets/js/query-string.js"></script>
                    <script type="text/javascript">
                        var query = queryString(), 
                        queryTag = query.query;

                        document.title = "{{site.title}}" +" - " + decodeURIComponent(queryTag);

                        var posts = document.querySelectorAll(".content-post");
                        for(var i = 0; i < posts.length; i++) {
                            var postTags = posts[i].querySelectorAll(".sidebar-content-link");
                            var isExistTag = false;
                            for(var j = 0; j < postTags.length; j++) {
                                if(postTags[j].innerText == decodeURIComponent(queryTag)) {
                                    isExistTag = true;
                                    break;
                                }
                            }

                            if(isExistTag)
                                posts[i].style.display = "block";
                        }
                    </script>
                {% elsif page.page-type == "search" %}
                    <div class="content-result">
                        <img src="/assets/img/ImageSearchResult.svg" width="50px" height="50px" style="min-width: 50px; margin: 25px 30px 25px 15px;"/>
                        <h3 class="result-text" style="margin-left: 30px;">نتایج جستجو برای <span style="color: #000;">تیتر</span></h3>
                    </div>
                    <div id="divNotFound" class="content-result" style="background-color: rgba(0, 0, 0, 0); border: none;">
                        <h3 class="result-text">هیچی پیدا نشد! :(</span></h3>
                    </div>
                    {% for post in site.posts %}
                        {% include content.html
                            url = post.url
                            category = post.category
                            title-image = post.title-image
                            title = post.title
                            subtitle = post.subtitle
                            content = post.content
                            post-date = post.post-date
                            tags = post.tags
                            post-type = page.page-type
                        %}
                    {% endfor %}
                    
                    <script src="/assets/js/query-string.js"></script>
                    <script type="text/javascript">
                        var query = queryString(), 
                        querySearch = query.query;

                        document.title = "{{site.title}}" +" - " + decodeURIComponent(querySearch);
                        document.querySelector(".result-text span").innerText = decodeURIComponent(querySearch);

                        var posts = document.querySelectorAll(".content-post");
                        for(var i = 0; i < posts.length; i++) {
                            var postCategory = posts[i].querySelector(".post-category-text").innerText;
                            var postTitle = posts[i].querySelector(".post-title-text").innerText;
                            var postSubtitle = posts[i].querySelector(".post-title-subtext").innerText;
                            var postContent = posts[i].querySelectorAll(".post p");
                            var postTags = posts[i].querySelectorAll(".sidebar-content-link");

                            var isExistSearch = false;

                            if(postCategory.search(decodeURIComponent(querySearch)) != -1
                            || postTitle.search(decodeURIComponent(querySearch)) != -1
                            || postSubtitle.search(decodeURIComponent(querySearch)) != -1) {
                                isExistSearch = true;
                            }
                            else {
                                for(var j = 0; j < postContent.length; j++) {
                                    if(postContent[j].innerText.search(decodeURIComponent(querySearch)) != -1) {
                                        isExistSearch = true;
                                        break;
                                    }
                                }

                                if(!isExistSearch) {
                                    for(var j = 0; j < postTags.length; j++) {
                                        if(postTags[j].innerText.search(decodeURIComponent(querySearch))!= -1) {
                                            isExistSearch = true;
                                            break;
                                        }
                                    }
                                }
                            }

                            if(isExistSearch) {
                                document.getElementById("divNotFound").style.display = "none";
                                posts[i].style.display = "block";
                            }
                        }
                    </script>
                {% elsif page.page-type == "categories" %}
                    {% include categories.html %}
                {% endif %}
            </div>
            {% include sidebar.html %}
            {% include bottombar.html %}
        </div>
        <div style="width: 100%; height: 500px;"></div>
        {% include header.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/assets/js/sticky-sidebar.js"></script>
        <script src="/assets/js/ResizeSensor.js"></script>
        <script type="text/javascript">
            var stickySidebar = new StickySidebar('#sidebar', {
                topSpacing: 80,
                bottomSpacing: 20,
                containerSelector: '.main',
                innerWrapperSelector: '.sidebar-inner'
            });

            window.onload = function () {
                const btnMore = document.getElementById("btnMore");
                const btnHeaderSearch = document.getElementById("btnHeaderSearch");
                const btnMoreSearch = document.getElementById("btnMoreSearch");
                const divMoreMenu = document.getElementById("divMoreMenu");
                const inputHeaderSearch = document.getElementById("inputHeaderSearch");
                const inputMoreSearch = document.getElementById("inputMoreSearch");

                if($(window).resize(function () {
                    stickySidebar.destroy();

                    stickySidebar = new StickySidebar('#sidebar', {
                        topSpacing: 80,
                        bottomSpacing: 20,
                        containerSelector: '.main',
                        innerWrapperSelector: '.sidebar-inner'
                    });
                }));

                btnMore.addEventListener("click", toggleMoreMenu);
                btnHeaderSearch.addEventListener("click", search.bind(null, btnHeaderSearch.id, false));
                btnMoreSearch.addEventListener("click", search.bind(null, btnMoreSearch.id, false));
                inputHeaderSearch.addEventListener("keydown", event => {
                    if(event.keyCode === 13)
                        search(btnHeaderSearch.id);
                });
                inputMoreSearch.addEventListener("keydown", event => {
                    if(event.keyCode === 13)
                        search(btnMoreSearch.id);
                });

                $(document).mousedown(function (e) {
                    var moreMenuContainer = $(divMoreMenu);
                    if (moreMenuContainer.css("opacity") == 1 && !moreMenuContainer.is(e.target) && moreMenuContainer.has(e.target).length === 0) {
                        toggleMoreMenu();
                    }
                });

                function toggleMoreMenu() {
                    var opacity = $(divMoreMenu).css('opacity');

                    if (opacity == 0)
                        $(divMoreMenu).animate({ opacity: '1', top: '70px' });
                    else if (opacity == 1)
                        $(divMoreMenu).animate({ opacity: '0', top: '-265px' });
                }

                function search(id) {
                    if(id == "btnHeaderSearch") {
                        if(inputHeaderSearch.value != "")
                            window.location.href = "/search?query=" + inputHeaderSearch.value;
                        else
                            inputHeaderSearch.placeholder = "چیزی ننوشتی که...";
                    }
                    else if(id == "btnMoreSearch") {
                        if(inputMoreSearch.value != "")
                            window.location.href = "/search?query=" + inputMoreSearch.value;
                        else
                            inputMoreSearch.placeholder = "چیزی ننوشتی که...";
                    }
                }
            }
        </script>
    </body>
</html>